<body>
  <section class="row principal">
    <header class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
        <div class="container">
            <a href="">
                <figure>
                    <img src="https://moodle.unibe.edu.ec/pluginfile.php/1/theme_fordson/headerlogo/1606321651/logoU.png" width="200" heigth="200">
                </figure>  
            </a>       
        </div>
    </header>
    <header class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
        <div class="container">
            <h1>Universidad Iberoamericana del Ecuador</h1>
            <h2>Solicitud Docente</h2>
        </div>
    </header>
  </section>

  <div class="row">
    <div class="col-8 mx-auto">
      <h3></h3>
      <section >     
        <div class="banner">
        </div>
      </section>  
    </div>
  </div>

  <div class="bg-light mt-2 container">
    <div class="container mt-3" style="border-top: 1px solid black;">
      <div class="mt-3" >
        <h3 class="buscar" >Buscar Solicitud Necesidad Docente</h3>
      <div class="row">
        <div class="col">
          <div class="form-group"> 
            <input  class="form-control" name="filterSolicitud" placeholder="Search.." [(ngModel)]="filterSolicitud">
          </div>
        </div>
      </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th scope="col">CodSolicitud</th>
              <th scope="col">Nombre</th>
              <th scope="col">Estado</th>
              <th scope="col">Fecha</th>
              <th scope="col">Perfil Docente</th>
              <th scope="col">Razon</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let solicitud of solicituds | filter:filterSolicitud">
              <td>{{solicitud.codigoSolicitud}}</td>
              <td>{{solicitud.nombre}}</td>
              <td>{{solicitud.estado}}</td>
              <td>{{solicitud.fecha}}</td>
              <td>{{solicitud.perfild}}</td>
              <td>{{solicitud.razon}}</td>
              </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>

    <div class="row"> 
      <div class="container col-md-8">
        <div class="card mt-3" >
          <div class="card-header crear-solicitud">
            <h3 class="text-center">Creación de Solicitud Necesidad Docente</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="myForm" (ngSubmit)="submit()">
              <div class="form-group">
                <label>Estado de la Solicitud</label>
                <input type="text"  [(ngModel)]="solicitud.estado" class="form-control" formControlName="estado" name="estado" placeholder="Aprobada / Rechazada" required>
              </div> 
              <div class="form-group">
                <label>Fecha</label>
                <input type="date" [(ngModel)]="solicitud.fecha" class="form-control" formControlName="fecha" name="fecha" required>
              </div>
              <div class="form-group">
                <label>Nombre de la Solicitud</label>
                <textarea class="form-control" rows="3" [(ngModel)]="solicitud.nombre" formControlName="nombre" name="nombre" ></textarea>
              </div>
              <div class="form-group">
                <label>Perfil Docente</label>
                <textarea class="form-control" rows="3" [(ngModel)]="solicitud.perfild" formControlName="perfild"  name="perfild" ></textarea>
              </div>
              <div class="form-group">
                <label>Razón</label>
                <textarea class="form-control" rows="3" [(ngModel)]="solicitud.razon" formControlName="razon"  name="razon" ></textarea>
              </div>
              <button type="submit" name="submit" class="btn btn-success mt-2">Crear</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4" style="margin-top: 20px;">
        <div class="redes_sociales">
          <div class="logos">
            <ul>
              <li class="facebook">
                <i class="fab fa-facebook-f"></i>
              </li>
              <li class="instagram">
                <i class="fab fa-instagram"></i>
              </li>
              <li class="youtube">
                <i class="fab fa-youtube"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <div class="referencia">
          <h3>© Universidad Iberoamericana del Ecuador 2021</h3>
        </div>   
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <div class="integrantes">
          <h4>Página creada por Rommel y Pablo 4to Semestre</h4> 
        </div>
      </div>  
        
    </div>
</footer>
<script src="https://kit.fontawesome.com/0e04776b3e.js" crossorigin="anonymous"></script>

</body>